body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    width: 60%;
    margin-top: 8%;
    height: 4vh;
}

#input{
    width: 60%;
 
}

#select{
    width: 20%;
   
}

#search-button{
    width: 15%;
  
}
